:root {
    --primary: #e6e6e6;
    --secondary: rgb(236, 236, 236);
    --background: white;
    --text-color: rgb(28, 28, 28);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #2b2b2b;
        --secondary: #3f3f3f;
        --background: rgb(43, 43, 43);
        --text-color: rgb(227, 227, 227);
    }
}

body, body * {
    margin: unset;
    padding: unset;
    font-family: arial;
    color: var(--text-color);
}

body {
    background-color: var(--background);
}

h1 {
    background-color: var(--primary);
    padding: 0.5em;
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.label small {
    margin-bottom: 0.5em;
}

p {
    margin: 0.5em 0;
}

input {
    background-color: var(--secondary);
    border: 0;
    padding: 0.5em 1em;
}

div {
    display: inline-block;
}

#root {
    display: flex;
    margin: 2em 0.5em;
}

.column {
    padding: 1em;
    flex: 1;
}

.row {
    gap: 1em;
}

.menu_bar {
    background-color: var(--secondary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.2em;
}

.row, .menu_bar {
    display: flex;
    flex-direction: row;
}

.list {
    width: 100%;
    padding: 1em;
    background-color: var(--primary);
    filter: brightness(80%);
    max-height: 20em;
    overflow-y: auto;
}

.list_item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
}

button {
    border: 0;
    padding: 0.5em 1em;
    background-color: var(--secondary);
    cursor: pointer;
}

button:focus {
    filter: brightness(80%);
}

.menu_bar button {
    background-color: transparent;
    padding: 0.5em 1em;
    font-size: 0.75em;
}

.menu_bar button:hover {
    background-color: var(--secondary);
}